# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/
*.db
*.sqlite3

# Node / Frontend
node_modules/
build/
.npm/

# Firmware / PlatformIO / Arduino
.pio/
.vscode/
*.bin
*.elf

# OS Files
.DS_Store
Thumbs.db

# Config Secrets
firmware/src/config.h

# Documentos en progreso (no versionar)
redaccion/
